<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.noteapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".NoteList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditNote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmationMessage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Forgot_passwordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotebookTutorial2"
            android:parentActivityName=".NotebookTutorial1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotebookTutorial1"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home_pages"
            android:label="@string/title_activity_home_pages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateNoteCategory"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SelectCategoryColor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CategoryList"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".CategoryNote"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NoteSelectColor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewArtBoard"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".MyFirebaseController"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>